.git
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
tests
database/*.sqlite
mobile
render.yaml
*.apk
*.keystore
*.jks
*.pem